<% provide(:title, t(".title")) %>

<%= bootstrap_form_for(@advanced_search) do |f| %>
  <%= hidden_field_tag(:type, params[:type]) %>

  <table class="table">
    <tbody>
      <% if @advanced_search.item_types.many? %>
        <tr>
          <th>
            <%= t('.item_type') %>
          </th>
          <td>
            <%= f.select("item_type", render_item_types_as_options(@advanced_search.item_types, params[:type]),
              { :hide_label => true }
            ) %>
          </td>
        </tr>
      <% end %>
      <% @advanced_search.fields.each do |field| %>
        <%= render_advanced_search_field(f, field) do |content| %>
          <tr>
            <th><%= field.name %></th>
            <td><%= content %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= f.primary(t(".submit")) %>
  <%= link_to(
        t(".start_over"),
        { :type => params[:type] },
        :class => "btn btn-text") %>
<% end %>
