<% provide(:title, t(".title")) %>

<h2><%= t("advanced_searches.new.advanced_search_configurations") %></h2>
<% if @advance_search_confs.any? %>
  <ul class="nav nav-tabs">
    <% @advance_search_confs.each do |search_config| %>
      <%= content_tag(
            :li,
            :role => "presentation",
            :class => ("active" if search_config.id == @advanced_search_config&.id)) do %>
        <%= link_to(search_config.title, :advanced_search_conf => search_config.id) %>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p><%= t("advanced_searches.new.no_advanced_search_configuration") %></p>
<% end %>

<% if @advanced_search_config.present? %>
  <h3><%= @advanced_search_config.title %></h3>
  <p><%= @advanced_search_config.description %></p>
<% end %>

<% if @advanced_search_config&.search_type == AdvancedSearchConfiguration::TYPES['Map'] %>
  <%= render :partial => "map" %>
<% else %>
  <%= render :partial => "form" %>
<% end %>
