<% provide(:title, t(".edit_choice_set")) %>
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> Improving choice set nested creation

<div class="panel-body">

  <%= react_component('ChoiceSetInput',
    props: {
<<<<<<< HEAD
      data: [
        {
            shortInput: {
                value: 'Test1'
            },
            longInput: {
                value: 'Test1'
            },
            categoryInput: {
                value: 'category1',
                optionsData: [
                    {key:0, value: 'category11'},
                    {key:1, value: 'category12'},
                ]
            },
            children: [
                {
                    shortInput: {
                        value: 'Child Test1'
                    },
                    longInput: {
                        value: 'Child Test1'
                    },
                    categoryInput: {
                        value: 'childcategory1',
                        optionsData: [
                            {key:0, value: 'childcategory111'},
                            {key:1, value: 'childcategory112'},
                        ]
                    },
                    children: [
                        {
                            shortInput: {
                                value: 'Child Test1'
                            },
                            longInput: {
                                value: 'Child Test1'
                            },
                            categoryInput: {
                                value: 'childcategory1',
                                optionsData: [
                                    {key:0, value: 'childcategory111'},
                                    {key:1, value: 'childcategory112'},
                                ]
                            },
                            children: []
                        }
                    ]
                }
            ]
        },
        {
            shortInput: {
                value: 'Test2'
            },
            longInput: {
                value: 'Test2'
            },
            categoryInput: {
                value: 'category2',
                optionsData: [
                    {key:0, value: 'category21'},
                    {key:1, value: 'category23'},
                ]
            },
            children: []
        }
=======
      items: [
        { id: 0, shortInputName: "choice_set[choices_attributes][0][short_name_en]", longInputName: "choice_set[choices_attributes][0][long_name_en]", srcShortId: "choice_set_choices_attributes_0_long_name_en", srcLongId: "choice_set_choices_attributes_0_long_name_en"},
        { id: 1, shortInputName: "choice_set[choices_attributes][1][short_name_en]", longInputName: "choice_set[choices_attributes][1][long_name_en]", srcShortId: "choice_set_choices_attributes_1_long_name_en", srcLongId: "choice_set_choices_attributes_1_long_name_en"}
>>>>>>> Improving choice set nested creation
      ],
      shortInputName: "choice_set[choices_attributes][0][short_name_en]",
      longInputName: "choice_set[choices_attributes][0][long_name_en]",
      srcShortId: "choice_set_choices_attributes_0_long_name_en",
      srcLongId: "choice_set_choices_attributes_0_long_name_en",
<<<<<<< HEAD
<<<<<<< HEAD
      choiceNameLabel: "Choices",
      shortNameLabel: "Short name",
      longNameLabel: "Long name (optional)",
=======
      srcCategoryId: "choice_set_choices_attributes_0_category_name_en",
      choiceNameLabel: t('.choices'),
      shortNameLabel: t('.short_name'),
      longNameLabel: t('.long_name_optional'),
      categoryNameLabel: t('.category_optional'),
>>>>>>> Add dynamic strings for choice sets creation
      updateButtonLabel: t(".update_choice_set"),
      cancelButtonLabel: t(".cancel"),
      addChoiceLabel: t(".add_choice"),
=======
      choiceNameLabel: "Choices",
      shortNameLabel: "Short name",
      longNameLabel: "Long name (optional)",
      updateButtonLabel: t(".update_choice_set"),
      cancelButtonLabel: t(".cancel"),
      addChoiceLabel: "Add choice",
>>>>>>> Improving choice set nested creation
      removeChoiceLabel: "Remove",
      addChildrenChoiceLabel: "Add children",
    },
    prerender: false) %>

<<<<<<< HEAD
=======
>>>>>>> Improve edit choice set page
=======
>>>>>>> Improving choice set nested creation
  <%= bootstrap_form_for(
        @field,
        :url => catalog_admin_choice_set_path) do |f| %>

    <%= render("common_form_fields", :f => f) %>
        <div class="col-md-12">
            <%= f.primary(t(".update_choice_set")) %>
            <%= link_to(
                  t("cancel"),
                  catalog_admin_choice_sets_path,
                  :class => "btn btn-link") %>
        </div>
  <% end %>
</div>
